.login #form-wrap {

/* max width allows the width to become smaller as the page gets smaller*/
	max-width: 450px;
	margin: 100px auto;
	

}
.login fieldset {

		border: 3px solid;
}
		.login label {
			display: block ; 
			float: left;
			width: 70px;/* the length of space between the username/password and the login box*/

		}
			.login input[type=text]{
				clear: none;
				float: left;

			}
			.login .row{
					width: 100%;
					clear: both;
					float: left;


			}

 .new_user #form-wrap {
	max-width: 600px;
	margin: 100px auto;
}

.new_user #categories{
	text-align: center;
	

}
.new_user fieldset {

		border: 3px solid;
}
		.new_user label {
			
			display: block ; 
			float: left;
			width: 130px;/* the length of space between the username/password and the login box*/


		}
			.new_user input[type=text], input[type=password]{
				clear: none;
				float: left;

			}

			.new_user .row{
					width: 100%;
					clear: both;
					float: left;


			}
	
